In [1]:
import pandas as pd

In [2]:
# Load the CSV file
file_path = '../FAresults-cutsharing.xlsx'
df = pd.read_excel(file_path)

In [3]:
df.head()

,instance_option,cost_structure,dissipate_option,absorbing_option,k_init,Ni,Nj,tau,safe_time,option,LB,iter,obj,CI,train_time,test_time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,57.0,3.0,10.0,0.0,0.0,0.0,1736.741600,12531.0,65342.30402,7002.769047,497.344150,0.463747
3,0.0,0.0,0.0,0.0,57.0,3.0,10.0,0.0,0.0,1.0,1764.790464,1873.0,65362.54105,7007.387136,360.370947,1.063055
4,0.0,0.0,0.0,0.0,57.0,3.0,10.0,0.5,0.0,0.0,2924.287928,15903.0,68178.71681,7192.748904,662.588392,0.443435

In [4]:
df = df.dropna()
df.shape

(54, 16)

In [5]:
df_option_0 = df[df['option'] == 0]
df_option_1 = df[df['option'] == 1]
df_option_0.reset_index(drop=True, inplace=True)
df_option_1.reset_index(drop=True, inplace=True)

In [6]:
df_option_1.shape

(27, 16)

In [7]:
# some table macros
tauList = [0, 0.5, 5]
NiList = [3,6,9]
NjList = [10,20,30]

In [8]:
# Create a LaTeX table string with the specified columns and multi-row header
latex_table_custom = '';

In [9]:
# Combine data from both options into a single row for the LaTeX table with the specified columns
idx = 0;
for i1 in range(len(tauList)):
    for i2 in range(len(NiList)):
        for i3 in range(len(NjList)):
            row_0 = df_option_0.iloc[idx] 
            row_1 = df_option_1.iloc[idx] 
            if i2 == 0:
                if i3 == 0:
                    latex_table_custom += f"{tauList[i1]} & {row_0['Ni']} $\quad$ {row_0['Nj']} && {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
                else:
                    latex_table_custom += f" &  $\quad\quad$ {row_0['Nj']} && {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
            else:
                if i3 == 0:
                    latex_table_custom += f" & {row_0['Ni']}  $\quad\quad$ {row_0['Nj']} && {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
                else:
                    latex_table_custom += f" &  $\quad\quad$ {row_0['Nj']} && {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
            idx += 1;
    if i1 != len(tauList)-1:
        latex_table_custom += "\\hline\n"

print(latex_table_custom)
# Save to a new .tex file
with open('Table-cutsharing.tex', 'w') as f:
    f.write(latex_table_custom)

0 & 3.0 $\quad$ 10.0 && 497.3 & 12531 && 360.4 & 1873  \\
 &  $\quad\quad$ 10.0 && 662.6 & 15903 && 386.3 & 2010  \\
 &  $\quad\quad$ 10.0 && 826.0 & 19276 && 137.5 & 909  \\
 & 3.0  $\quad\quad$ 20.0 && 672.3 & 14163 && 166.0 & 1041  \\
 &  $\quad\quad$ 20.0 && 585.6 & 11641 && 250.7 & 1373  \\
 &  $\quad\quad$ 20.0 && 1049.1 & 20000 && 165.5 & 1006  \\
 & 3.0  $\quad\quad$ 30.0 && 791.8 & 14057 && 181.6 & 1055  \\
 &  $\quad\quad$ 30.0 && 885.2 & 14820 && 241.6 & 1320  \\
 &  $\quad\quad$ 30.0 && 1144.4 & 18684 && 121.6 & 694  \\
\hline
0.5 & 6.0 $\quad$ 10.0 && 799.7 & 14425 && 412.0 & 1319  \\
 &  $\quad\quad$ 10.0 && 636.9 & 11273 && 329.1 & 1346  \\
 &  $\quad\quad$ 10.0 && 886.8 & 15253 && 250.4 & 1064  \\
 & 6.0  $\quad\quad$ 20.0 && 1039.3 & 16526 && 246.8 & 1060  \\
 &  $\quad\quad$ 20.0 && 1057.6 & 15004 && 189.4 & 834  \\
 &  $\quad\quad$ 20.0 && 809.1 & 11646 && 183.3 & 785  \\
 & 6.0  $\quad\quad$ 30.0 && 997.1 & 13566 && 242.0 & 1011  \\
 &  $\quad\quad$ 30.0 && 1131.0 & 14165 && 428.3 & 1547  \\
 &  $\quad\quad$ 30.0 && 1778.1 & 21431 && 293.8 & 1131  \\
\hline
5 & 9.0 $\quad$ 10.0 && 816.1 & 12548 && 298.6 & 1016  \\
 &  $\quad\quad$ 10.0 && 1182.4 & 16266 && 537.3 & 1657  \\
 &  $\quad\quad$ 10.0 && 1209.0 & 16253 && 228.1 & 800  \\
 & 9.0  $\quad\quad$ 20.0 && 1184.7 & 15163 && 616.4 & 1805  \\
 &  $\quad\quad$ 20.0 && 1486.4 & 16858 && 524.9 & 1564  \\
 &  $\quad\quad$ 20.0 && 1594.5 & 17736 && 288.6 & 928  \\
 & 9.0  $\quad\quad$ 30.0 && 1378.6 & 14785 && 354.8 & 1084  \\
 &  $\quad\quad$ 30.0 && 1598.7 & 16019 && 222.2 & 740  \\
 &  $\quad\quad$ 30.0 && 1740.8 & 16166 && 396.1 & 1154  \\