In [1]:
import pandas as pd

In [2]:
# Load the CSV file
file_path = '../FAresults-cutsharing.xlsx'
df = pd.read_excel(file_path)

In [3]:
df.head()

,instance_option,cost_structure,dissipate_option,absorbing_option,k_init,Ni,Nj,tau,safe_time,option,LB,iter,obj,CI,train_time,test_time
0,-1,0,0,0,57,3,10,0.0,0,0,1687.848518,5434,1643.922721,148.097879,93.240224,1.012399
1,-1,0,0,0,57,3,10,0.0,0,1,1702.630420,508,1644.934680,148.272947,25.820372,1.333249
2,-1,0,0,0,57,3,10,0.5,0,0,3956.057990,4591,3851.340465,341.999366,88.902116,1.090198
3,-1,0,0,0,57,3,10,0.5,0,1,3975.455355,913,3859.461046,345.581435,55.855435,1.760015
4,-1,0,0,0,57,3,10,5.0,0,0,8320.075187,3924,8597.983060,1050.001716,78.071190,1.132198

In [4]:
df = df.dropna()
df.shape

(108, 16)

In [5]:
df_option_0 = df[(df['option'] == 0) & (df['instance_option'] == 0)]
df_option_1 = df[(df['option'] == 1) & (df['instance_option'] == 0)]
df_option_0.reset_index(drop=True, inplace=True)
df_option_1.reset_index(drop=True, inplace=True)

In [6]:
df_option_1.shape

(27, 16)

In [7]:
# some table macros
tauList = [0, 0.5, 5]
NiList = [3,6,9]
NjList = [10,20,30]

In [8]:
# Create a LaTeX table string with the specified columns and multi-row header
latex_table_custom = '';

In [9]:
# Combine data from both options into a single row for the LaTeX table with the specified columns
for i1 in range(len(tauList)):
    for i2 in range(len(NiList)):
        for i3 in range(len(NjList)):
            idx = i2*len(NjList)*len(tauList)+i3*len(tauList)+i1
            row_0 = df_option_0.iloc[idx] 
            row_1 = df_option_1.iloc[idx] 
            
            if i2 == 0:
                if i3 == 0:
                    latex_table_custom += f"{tauList[i1]} & {round(row_0['Ni'])} $\quad$ {round(row_0['Nj'])} && {round(row_0['LB'],1)} & {round(row_0['obj'],1)}$\pm${round(row_0['CI'],1)} & {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['LB'],1)} & {round(row_1['obj'],1)}$\pm${round(row_1['CI'],1)} & {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
                else:
                    latex_table_custom += f" &  $\quad\quad$ {round(row_0['Nj'])} && {round(row_0['LB'],1)} & {round(row_0['obj'],1)}$\pm${round(row_0['CI'],1)} & {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['LB'],1)} & {round(row_1['obj'],1)}$\pm${round(row_1['CI'],1)} & {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
            else:
                if i3 == 0:
                    latex_table_custom += f" & {round(row_0['Ni'])}  $\quad$ {round(row_0['Nj'])} && {round(row_0['LB'],1)} & {round(row_0['obj'],1)}$\pm${round(row_0['CI'],1)} & {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['LB'],1)} & {round(row_1['obj'],1)}$\pm${round(row_1['CI'],1)} & {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
                else:
                    latex_table_custom += f" &  $\quad\quad$ {round(row_0['Nj'])} && {round(row_0['LB'],1)} & {round(row_0['obj'],1)}$\pm${round(row_0['CI'],1)} & {round(row_0['train_time'],1)} & {round(row_0['iter'])} && {round(row_1['LB'],1)} & {round(row_1['obj'],1)}$\pm${round(row_1['CI'],1)} & {round(row_1['train_time'],1)} & {round(row_1['iter'])}  \\\\ \n"
    if i1 != len(tauList)-1:
        latex_table_custom += "\\hline\n"

print(latex_table_custom)
# Save to a new .tex file
with open('Table-cutsharing.tex', 'w') as f:
    f.write(latex_table_custom)

0 & 3 $\quad$ 10 && 1725.7 & 1931.1$\pm$385.5 & 388.1 & 9700 && 1764.4 & 1763.2$\pm$184.7 & 223.8 & 1382  \\
 &  $\quad\quad$ 20 && 3272.4 & 3759.8$\pm$825.6 & 534.7 & 10473 && 3330.3 & 3352.3$\pm$296.6 & 318.7 & 1735  \\
 &  $\quad\quad$ 30 && 5065.4 & 5205.8$\pm$457.3 & 689.3 & 11152 && 5118.8 & 5171.2$\pm$449.2 & 331.2 & 1712  \\
 & 6  $\quad$ 10 && 1848.2 & 1818.6$\pm$213.2 & 896.7 & 16653 && 1866.0 & 1818.7$\pm$213.2 & 244.3 & 1122  \\
 &  $\quad\quad$ 20 && 3317.0 & 3378.3$\pm$312.4 & 865.7 & 12770 && 3378.8 & 3361.4$\pm$306.0 & 341.8 & 1386  \\
 &  $\quad\quad$ 30 && 5185.2 & 5262.4$\pm$490.4 & 1019.6 & 12862 && 5253.8 & 5214.0$\pm$475.7 & 266.8 & 1075  \\
 & 9  $\quad$ 10 && 1791.8 & 1787.6$\pm$197.7 & 1191.4 & 17697 && 1808.6 & 1788.0$\pm$196.7 & 364.2 & 1229  \\
 &  $\quad\quad$ 20 && 3309.6 & 3393.9$\pm$313.1 & 1009.9 & 12184 && 3358.4 & 3352.1$\pm$297.8 & 360.7 & 1169  \\
 &  $\quad\quad$ 30 && 5113.4 & 6267.2$\pm$1618.8 & 1159.6 & 11937 && 5187.7 & 5198.8$\pm$462.1 & 302.6 & 974  \\
\hline
0.5 & 3 $\quad$ 10 && 2918.0 & 3159.7$\pm$427.1 & 633.6 & 14786 && 2953.1 & 2996.6$\pm$256.2 & 240.8 & 1435  \\
 &  $\quad\quad$ 20 && 5480.7 & 5870.2$\pm$894.8 & 985.2 & 17819 && 5522.3 & 5474.4$\pm$434.6 & 230.8 & 1310  \\
 &  $\quad\quad$ 30 && 8250.5 & 10294.0$\pm$2145.4 & 685.3 & 10641 && 8421.0 & 8527.9$\pm$716.9 & 420.4 & 2003  \\
 & 6  $\quad$ 10 && 2975.1 & 2989.8$\pm$270.8 & 978.5 & 16525 && 3002.1 & 2996.6$\pm$271.7 & 266.1 & 1179  \\
 &  $\quad\quad$ 20 && 5429.0 & 5853.9$\pm$894.4 & 941.0 & 13100 && 5519.8 & 5434.5$\pm$431.7 & 271.7 & 1115  \\
 &  $\quad\quad$ 30 && 8372.1 & 9401.0$\pm$1608.4 & 1452.6 & 16464 && 8451.9 & 8455.7$\pm$711.4 & 255.6 & 1021  \\
 & 9  $\quad$ 10 && 2932.6 & 3298.8$\pm$515.1 & 943.4 & 12910 && 2978.7 & 2991.5$\pm$258.7 & 372.3 & 1218  \\
 &  $\quad\quad$ 20 && 5436.9 & 5923.5$\pm$920.3 & 982.6 & 10968 && 5537.3 & 5464.5$\pm$438.2 & 381.3 & 1207  \\
 &  $\quad\quad$ 30 && 8337.4 & 9190.1$\pm$1481.1 & 1572.9 & 14773 && 8456.3 & 8524.8$\pm$725.1 & 365.4 & 1109  \\
\hline
5 & 3 $\quad$ 10 && 5992.6 & 5832.4$\pm$732.8 & 592.6 & 13482 && 6119.2 & 5888.5$\pm$735.3 & 108.9 & 733  \\
 &  $\quad\quad$ 20 && 11385.2 & 11079.2$\pm$1241.8 & 671.7 & 12294 && 11680.5 & 11234.7$\pm$1279.3 & 163.1 & 948  \\
 &  $\quad\quad$ 30 && 17003.0 & 16722.1$\pm$2161.1 & 974.6 & 14574 && 17384.3 & 16691.0$\pm$2156.6 & 174.9 & 966  \\
 & 6  $\quad$ 10 && 5826.6 & 5795.2$\pm$788.8 & 1050.7 & 17158 && 5947.8 & 5697.0$\pm$733.5 & 215.0 & 947  \\
 &  $\quad\quad$ 20 && 11174.1 & 11203.8$\pm$1492.2 & 1315.1 & 17489 && 11328.5 & 10817.4$\pm$1270.3 & 187.7 & 809  \\
 &  $\quad\quad$ 30 && 16586.8 & 16265.1$\pm$2186.0 & 1392.6 & 15650 && 16901.3 & 16185.2$\pm$2145.9 & 308.0 & 1157  \\
 & 9  $\quad$ 10 && 5928.1 & 5781.6$\pm$756.8 & 1300.2 & 16914 && 6015.9 & 5743.2$\pm$744.9 & 280.1 & 938  \\
 &  $\quad\quad$ 20 && 11264.9 & 11109.2$\pm$1390.1 & 1934.7 & 19921 && 11413.0 & 10925.2$\pm$1297.0 & 309.3 & 971  \\
 &  $\quad\quad$ 30 && 16697.8 & 16365.4$\pm$2202.8 & 1872.5 & 16944 && 16990.0 & 16258.8$\pm$2171.1 & 467.5 & 1312  \\